In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Score Sample
`civicknowledge.com-scores-demosearch-1.1.1` Last Update: 2021-06-07T20:46:35

_A sample of scores for businesses across the US for the Demosearch application._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)


## References
<ul><li> <strong>scorepoints</string>, <em>index:civicknowledge.com-scorepoints-demosearch#business_points</em>. 500K Business points</li><li> <strong>rings_scores</string>, <em>data/rings_scores.csv</em>. Sample scores, weighted sum and rings</li><ul>

In [3]:
df = pkg.reference('rings_scores').dataframe()

In [4]:
df.head()

,idx,geoid,geometry,layer,score,1,2,3,4,5,6,7,8,9,10
0,205712,31000US10500,POINT (-84.22014 31.6208),tracts/pop/poverty,157.422598,0.541173,1.667877,2.830860,11.142573,20.172960,30.692668,45.502822,60.522195,73.745073,95.945937
1,205712,31000US10500,POINT (-84.22014 31.6208),tracts/pop/seniors,247.653346,0.502413,1.548421,2.727801,15.801907,29.334475,48.113616,70.958145,100.740928,124.225543,159.823490
2,216038,31000US10500,POINT (-84.12436 31.533282),tracts/pop/poverty,22715.815637,440.294620,1961.671060,3473.555577,4945.766223,6646.582187,4555.135478,1595.856418,1610.088476,1570.184059,1457.555944
3,216038,31000US10500,POINT (-84.12436 31.533282),tracts/pop/seniors,13150.936309,356.520594,1478.995651,2392.036111,2499.126858,1790.599998,1734.091441,1761.483161,1714.304981,1175.673818,900.277538
4,199405,31000US10500,POINT (-84.17610999999999 31.57592),tracts/pop/poverty,43265.990688,1335.681312,4083.514265,5673.861497,5995.728130,6747.078561,7003.050096,7695.940312,6393.979365,6707.193741,7443.117352

In [7]:
t = df[['idx','geoid','geometry','layer','score']].set_index(['idx','geoid','geometry','layer']).unstack()
scores = t.droplevel(0, axis=1).reset_index()
scores.head()

layer,idx,geoid,geometry,tracts/pop/poverty,tracts/pop/seniors
0,0,31000US37980,POINT (-75.63616 39.64623),3055.649064,3575.381869
1,1,31000US37980,POINT (-75.75936799999999 39.63028),4440.285702,4121.757185
2,4,31000US37980,POINT (-75.713504 39.73),2382.862322,3559.696264
3,5,31000US37980,POINT (-75.693276 39.689875),3639.216472,4032.535599
4,6,31000US37980,POINT (-75.70446099999999 39.659662),2892.196363,3678.690165