In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Score Sample
`civicknowledge.com-scores-demosearch-2.1.1` Last Update: 2021-09-29T02:40:33

_A sample of scores for businesses across the US for the Demosearch application._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [scores](data/scores.csv)**. Sampled scores.

## References
<ul><li> <strong>scorepoints</string>, <em>metapack+http://radius.civicknowledge.com.s3.amazonaws.com/civicknowledge.com-scorepoints-demosearch.csv#business_points</em>. 500K Business points</li><li> <strong>rings_scores</string>, <em>data/rings_scores.csv</em>. Sample scores, weighted sum and rings</li><ul>

In [3]:
df = pkg.resource('scores').dataframe()

In [4]:
df.head()

,idx,geoid,geometry,layer,w_r_inv,w_r2_inv,w_r3_inv,w_circle4,w_lin_200,w_lin_800,w_lin_2000,w_half,w_zero
0,1334420,31000US10100,POINT (-98.453806 45.440505),osmpoints/active,0.622906,0.035156,0.002070,0,0.0,0.000000,0.000000,10.095112,8.190224
1,1334420,31000US10100,POINT (-98.453806 45.440505),osmpoints/amenity,6.334270,0.524081,0.110543,3,0.0,0.734973,2.347776,104.281704,81.563407
2,1334420,31000US10100,POINT (-98.453806 45.440505),osmpoints/bar,0.164996,0.009370,0.000546,0,0.0,0.000000,0.000000,2.599338,2.198676
3,1334420,31000US10100,POINT (-98.453806 45.440505),osmpoints/cafe,0.102979,0.005524,0.000307,0,0.0,0.000000,0.000000,1.713356,1.426711
4,1334420,31000US10100,POINT (-98.453806 45.440505),osmpoints/casual,0.808071,0.041909,0.002317,0,0.0,0.000000,0.000000,14.191308,11.382616

In [7]:
df.groupby('idx').size()

idx
0          24
1          24
4          24
5          23
6          24
           ..
2249662    23
2249663    25
2249669    23
2249689    24
2249702    23
Length: 497264, dtype: int64

In [1]:
!pwd

/Volumes/External/data/radius-collection/civicknowledge.com-scores-demosearch/notebooks

In [ ]:
!ls