In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [3]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Score Sample
`civicknowledge.com-scores-demosearch-1.1.1` Last Update: 2021-06-07T22:57:45

_A sample of scores for businesses across the US for the Demosearch application._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [scores](data/scores.csv)**. Sampled scores.

## References
<ul><li> <strong>scorepoints</string>, <em>index:civicknowledge.com-scorepoints-demosearch#business_points</em>. 500K Business points</li><li> <strong>rings_scores</string>, <em>data/rings_scores.csv</em>. Sample scores, weighted sum and rings</li><ul>

In [4]:
df = pkg.resource('scores').dataframe()

In [5]:
df.head()

,idx,geoid,geometry,tracts_pop_poverty,tracts_pop_seniors
0,0,31000US37980,POINT (-75.63616 39.64623),3055.649064,3575.381869
1,1,31000US37980,POINT (-75.75936799999999 39.63028),4440.285702,4121.757185
2,4,31000US37980,POINT (-75.713504 39.73),2382.862322,3559.696264
3,5,31000US37980,POINT (-75.693276 39.689875),3639.216472,4032.535599
4,6,31000US37980,POINT (-75.70446099999999 39.659662),2892.196363,3678.690165

In [7]:
t = df[['idx','geoid','geometry','layer','score']].set_index(['idx','geoid','geometry','layer']).unstack()
scores = t.droplevel(0, axis=1).reset_index()
scores.head()

layer,idx,geoid,geometry,tracts/pop/poverty,tracts/pop/seniors
0,0,31000US37980,POINT (-75.63616 39.64623),3055.649064,3575.381869
1,1,31000US37980,POINT (-75.75936799999999 39.63028),4440.285702,4121.757185
2,4,31000US37980,POINT (-75.713504 39.73),2382.862322,3559.696264
3,5,31000US37980,POINT (-75.693276 39.689875),3639.216472,4032.535599
4,6,31000US37980,POINT (-75.70446099999999 39.659662),2892.196363,3678.690165

In [1]:
!pwd

/Volumes/External/data/radius-collection/civicknowledge.com-scores-demosearch/notebooks

In [ ]:
!ls